

<!-- [ Main Content Body ] start -->
<div class="row">
    <!-- sessions-section start -->
    <div class="col-xl-12 col-md-6">
        <div class="card table-card">
            <div class="card-header">
                <h2>You are not authenticated</h2>
            </div>
            <div class="card-header">
                <div class="row mt-3">
                    <div class="col-auto">
                        <br>
                        <button type="button" (click)="f_loginAgain()"
                            class="btn btn-primary mt-2">Login Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content Body ] end -->


