<!-- <app-page-title [pageTitleName]="pageTitle"></app-page-title> -->
<!-- [ Main Content Body ] start -->
<div class="row">
    <!-- sessions-section start -->
    <div class="col-xl-12 col-md-6">
        <div class="card table-card">
            <div class="card-header">
                <h5>Update User</h5>
            </div>
            <div class="card-header">
                <!-- <form [formGroup]="formGroupUserDataForm" #userCompleteForm="ngForm" (ngSubmit)="fn_UpdateData()"  enctype="multipart/form-data" > -->
                <form [formGroup]="formGroupUserDataForm" #userCompleteForm="ngForm" (ngSubmit)="fn_UpdateData()">
                    <div class="row">
                        <div class="col-auto">
                            <label for="FirstName">First Name <span class="text-danger"> *</span></label>
                            <app-input [control]="firstName" type="text" placeholder="First Name"></app-input>
                            <!-- <input type="text" class="form-control" formControlName="firstName" 
                                aria-describedby="emailHelp" placeholder="First Name">
                            <p class="alert-danger"
                                *ngIf="formGroupUserDataForm.controls.firstName.errors?.['required']
                                && formGroupUserDataForm.controls.firstName.dirty
                                && formGroupUserDataForm.controls.firstName.touched
                                ">
                                Required field
                            </p> -->


                        </div>
                        <div class="col-auto">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName"
                                aria-describedby="emailHelp" placeholder="Last Name">
                        </div>
                        <div class="col-auto">
                            <label for="departmentId">Department <span class="text-danger"> *</span></label>
                            <select class="form-control" formControlName="departmentId" aria-describedby="emailHelp"
                                #tvDepartmentId (change)="fn_desigList(tvDepartmentId.value)" placeholder="Department">
                                <option value="">-Select-</option>
                                <option *ngFor="let dept of deptList" value="{{ dept.id }}">{{
                                    dept.departmentName }}</option>

                            </select>
                            <p class="alert-danger" *ngIf="formGroupUserDataForm.controls.departmentId.errors?.['required']
                                && formGroupUserDataForm.controls.departmentId.dirty
                                && formGroupUserDataForm.controls.departmentId.touched
                            ">
                                Required field
                            </p>
                        </div>
                        <div class="col-auto">
                            <label for="designationId">Designation <span class="text-danger"> *</span></label>
                            <select class="form-control" formControlName="designationId" aria-describedby="emailHelp"
                                placeholder="Designation">
                                <option value="">-Select-</option>
                                <option *ngFor="let desig of desigList" value="{{ desig.designationId }}">{{
                                    desig.designationName }}</option>

                            </select>
                            <p class="alert-danger" *ngIf="formGroupUserDataForm.controls.designationId.errors?.['required']
                                && formGroupUserDataForm.controls.designationId.dirty
                                && formGroupUserDataForm.controls.designationId.touched
                            ">
                                Required field
                            </p>
                        </div>
                        <div class="col-auto">
                            <label for="emailId">Email ID</label>
                            <input type="email" class="form-control" formControlName="emailId"
                                aria-describedby="emailHelp" placeholder="email Id">
                        </div>
                        <div class="col-auto">
                            <label for="mobile">Mobile Number</label>
                            <input type="text" maxlength="10" class="form-control" formControlName="mobile"
                                aria-describedby="mobileHelp" placeholder="Mobile No.">
                            <p class="alert-danger" *ngIf="formGroupUserDataForm.controls.mobile.errors?.['maxlength']">
                                Maximum length is 10 charactors
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <label for="password">Password <span class="text-danger"> *</span></label>
                            <input type="password" class="form-control" formControlName="password"
                                aria-describedby="emailHelp" placeholder="Password">
                            <ng-container *ngIf="formGroupUserDataForm.controls.password.dirty
                                && formGroupUserDataForm.controls.password.touched 
                                && formGroupUserDataForm.controls.password.errors?.['passwordComplexity']">

                                <!-- <p class="alert-danger" *ngIf="formGroupUserDataForm.controls.password.errors?.['pattern']">
                                    Password suggesion like "Abc@1234"
                                </p>
                                <p class="alert-danger" *ngIf="formGroupUserDataForm.controls.password.errors?.['minlength']">
                                    Minimum length is 8 characters
                                </p> -->
                                <p class="alert-danger" *ngIf="formGroupUserDataForm.controls.password.errors?.['required']">
                                    Password required field
                                </p>
                                <p class="alert-danger" *ngIf="!formGroupUserDataForm.controls.password.errors?.['passwordComplexity'].hasMinLength">
                                    Password must be at least 8 characters long
                                </p>
                                <p class="alert-danger" *ngIf="!formGroupUserDataForm.controls.password.errors?.['passwordComplexity'].hasUpperCase">
                                    Password must be at least one uppercase letter
                                </p>
                                <p class="alert-danger" *ngIf="!formGroupUserDataForm.controls.password.errors?.['passwordComplexity'].hasLowerCase">
                                    Password must be at least one lowercase letter
                                </p>
                                <p class="alert-danger" *ngIf="!formGroupUserDataForm.controls.password.errors?.['passwordComplexity'].hasNumber">
                                    Password must be at least a number
                                </p>
                                <p class="alert-danger" *ngIf="!formGroupUserDataForm.controls.password.errors?.['passwordComplexity'].hasSpecialChar">
                                    Password must be at least a special character
                                </p>

                            </ng-container>
                        </div>
                        <div class="col-auto">
                            <label for="birthDate">DOB</label>
                            <input type="date" class="form-control" formControlName="birthDate"
                                value="{{ birthDate2 | date:'yyyy-MM-dd' }}" aria-describedby="birthDate"
                                placeholder="Birsth Date">

                        </div>
                         <div class="col-auto">
                            <br>
                            <div class="form-check form-check-inline mt-3">
                                <input type="radio" class="form-check-input" formControlName="gender"
                                    [value]="'Male'" [(ngModel)]="gender" id="gender1" >
                                <label class="form-check-label" for="gender1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" formControlName="gender"
                                    [value]="'Female'" [(ngModel)]="gender" id="gender2">
                                <label class="form-check-label" for="gender2">Female</label>
                            </div>                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" formControlName="gender"
                                    [value]="'Other'" [(ngModel)]="gender" id="gender3">
                                <label class="form-check-label" for="gender3">Other</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <br>
                            <div class="form-check form-check-inline mt-3">
                                <input type="radio" class="form-check-input" formControlName="isMarried"
                                    [value]="true" [(ngModel)]="isMarried" id="inlineRadio1">
                                <label class="form-check-label" for="inlineRadio1">Married</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" formControlName="isMarried"
                                    [value]="false" [(ngModel)]="isMarried" id="inlineRadio2">
                                <label class="form-check-label" for="inlineRadio2">Unmarried</label>
                            </div>
                        </div>
                        
                        <div class="col-auto">
                            <label for="birthDate">Photo Upload</label>
                            <!-- <input  type="file" accept="image/*" (change)="changeImage($event)" [value]="imgUrl"> -->
                            <!-- <input  type="file" class="form-control" accept="image/*" (change)="changeImage($event,null)"> -->
                            <input type="file" accept="image/*" class="form-control" formControlName="imageFile"
                                (change)="changeImage($event,null)">


                        </div>

                        <div class="col-auto">
                            <br>
                            <div class="form-check form-check-inline mt-3">
                                <input type="checkbox" class="form-check-input" formControlName="isActive" id="isActive"
                                    aria-describedby="emailHelp" placeholder="Last Name">
                                <label class="form-check-label" for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <br>
                            <button type="submit" [disabled]="userCompleteForm.invalid"
                                class="btn btn-primary mt-2 disabled:opacity-100">Update Now</button>
                            <a routerLink="/employee/view/{{ formGroupUserDataForm.value.userId }}"
                                class="btn btn-primary mt-2 disabled:opacity-100">Back
                                to View</a>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <img [src]="imgUrl">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- [ Main Content Body ] end -->

<!-- Model -->
<app-model></app-model>