<div #divSetting class="dropdown drp-user">
    <a #dropdownToggle2 (click)="fn_dropdownToggle2()" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon feather icon-settings"></i>
    </a>
    <div #divSetting2 class="dropdown-menu dropdown-menu-right profile-notification">
        <div class="pro-head" (mouseleave)="fn_ChangeStatusHide()">            
            <input type="file" id="fileHeaderId" style="display: none;" accept="image/*" (change)="f_changeImage($event,null)">        
            <ng-template [ngIf]="showUploadStatus" > <label for="fileHeaderId" title="Change Image"  > <i class="feather icon-upload"></i> </label>  &nbsp; </ng-template> 
            <img src="{{photoUrl}}" (mouseover)="fn_ChangeStatus()"    class="img-radius" alt="User-Profile-Image">
            <span>{{ userName }}</span>
            <a (click)="f_logout()" class="dud-logout" title="Logout">
                <i class="feather icon-log-out"></i>
            </a>
        </div>
        <ul class="pro-body">
                      
            
            <li><a  class="dropdown-item"><i class="feather icon-settings"></i> Under Process...</a></li>
            <!-- <li><a  class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li> -->
            <!-- 
            <li><a href="#!" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
            <li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My
                    Messages</a></li>
            <li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock
                    Screen</a></li> -->
        </ul>
    </div>
</div>

